@font-face {
    font-family: 'norsebold';
    src: url('fonts/norse-bold-webfont.woff2') format('woff2'),
         url('fonts/norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


/* Color for button */
.foo {
color: #596D48
}

/* Colors for input border */
.border {
    color: #E5E7EB
}

.border-red {
    color: red
}

.border:focus {
    color: blue;
    box-shadow: /* should be subtle */
}