@font-face {
    font-family: 'norsebold';
    src: url('fonts/norse-bold-webfont.woff2') format('woff2'),
         url('fonts/norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    margin: 0;
}

/*
Remove built-in form typography styles
*/
input, button, textarea, select {
    font: inherit;
  }


/* Colors for input border */
.border {
    color: #E5E7EB
}

.border-red {
    color: red
}

.border:focus {
    color: blue;
    box-shadow: ;/* should be subtle */
}

body {
    display: flex;
}

.left {
    background-image: url('halie-west-25xggax4bSA-unsplash.jpg');
    background-color: #596D48;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 35vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.left span {
    align-self: center;
    font-size: 0.8rem;
    margin-bottom: 10px;
}

.left span,
.left a:link {
    color: white;
}

.left a:visited {
    color: grey;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    height: max(16vh, 100px);
    position: relative;
    bottom: 60%;
}

.logo span {
    color: white;
    font-family: 'norsebold', sans-serif;
    font-size: max(8vh, 60px);
}

.logo img {
    height: 80%;
}

.right {
    display: flex;
    flex-direction: column;
    width: 65vw;
}

.right-top {
    height: 40vh;
    background-color: rgb(249, 250, 251);
}

.right-mid {
    height: 30vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
}

.right-bottom {
    height: 30vh;
    background-color: rgb(249, 250, 251);
}

.form-container {
    display: flex;
}

.form-left, 
.form-right {
    display: flex;
    flex-direction: column;
}

button {
    background-color: #596D48;
}